.change-pass {
  width: 100%;
}
.change-pass-shadow {
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.29);
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}
.change-pass-box {
  width: 98%;
  padding-bottom: 20px;
}
.change-pass-title {
  background-color: #c6e2ff;
  color: #1b508f;
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  border: 1px solid #b1c9e4;
  border-radius: 3px;
}
.change-pass-title span {
  text-align: center;
  width: 100%;
}
.change-pass-form {
  margin-top: 20px;
}
#pass-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.change-pass-form label {
  font-size: 11px;
  height: 30px;
  margin-top: 5px;
}
.change-pass-form input {
  width: 95%;
  border: 1px solid rgb(218, 202, 202);
  height: 30px;
  border-radius: 7px;
}
.change-pass-form button {
  margin-top: 20px;
  background-color: rgb(39, 39, 212);
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 11px;
  font-family: "FontsFree-Net-ir_sans";
  cursor: pointer;
}
