.dashboard{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-wrapper{
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}